.addUser_labels{
    text-align: left;
    font: normal normal bold 18px/21px Montserrat;
    letter-spacing: 0px;
    color: #63B3CE;
    opacity: 1;
    margin-top: 10px;
    width: 90vw;
}
.addUser_label_id{
    width: 2.4em;
    margin-right: 1.25em;
}
.addUser_label{
    margin-right: 2em;
}
.addUser_label_map{
    font: normal normal normal 18px/24px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 4em;
    margin-right: 3em;
    text-align: center;
}
.addUser_label_map_Id{
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 1.5em;
    margin-right: 2em;
    text-align: center;
}
.addUser_label_map_options{
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 5em;
    margin-left: 1em;
    text-align: center;
}
.addUser_div{
    width: 90% !important;
    justify-content: center !important;
}
.addUser_label_ex_div{
width: 90vw;
}