.settings_div{
    position: absolute;
    background: #FFFFFF99 0% 0% no-repeat padding-box;
    top: 25%;
    left: 5%;
    width: 240px;
    height: 220px;
    box-shadow: 4px 4px 8px #FFFFFF;
    border-radius: 12px;
    opacity: 1;
}
.navpanel_h2{
    position: absolute;
    top: 20px;
    text-align: center;
    font: normal normal bold 32px/40px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    left: 100px;
}
.setting-img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 70px;
    top: 20px;
}
.setting_h3{
    position: absolute;
    top: 140px;
    text-align: center;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    left: 30px;
}

.settings_div_2{
    position: absolute;
    background: #FFFFFF99 0% 0% no-repeat padding-box;
    top: 25%;
    left: 30%;
    width: 240px;
    height: 220px;
    box-shadow: 4px 4px 8px #FFFFFF;
    border-radius: 12px;
    opacity: 1;
}

.user-img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 70px;
    top: 40px;
}

.user_h3{
    position: absolute;
    top: 150px;
    text-align: center;
    font: normal normal normal 20px/24px Montserrat;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    left: 30px;
}
